.modal_wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(3px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-details-modal {
  background-color: rgba(255, 255, 255, .9);
  height: 80%;
  width: auto;
  overflow: auto;
  border-radius: 12px;
  z-index: 1000;
  padding: 40px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.photo-details-modal__close-button {
  position: fixed;
  background-color: transparent;
  border: solid 1px rgb(28, 28, 28);
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: transform .125s ease-in-out;
  margin-top: -32px;
  margin-left: -32px;
}

.photo-details-modal__close-button:hover {
  background-color: rgba(207, 207, 207, 0.6);
}

.photo-details-modal__images {
  width: 100%;
}

.photo-details-modal__image {
  max-width: 95%;
}

.photo-details-modal__top-bar {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // margin-bottom: 16px;
  // align-items: center;
  // margin-left: -30px;
  // margin-top: -15px;
  // margin-top: 10px;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
}

.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}


// my new classes

.photo-details-hero_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
}

.photo-details-hero_wrapper {
  width: 100%;
  margin-bottom: 8px;
}

.photo-details-hero_image {
  width: 100%;
  border-radius: 10px;
}

.photo-details-hero_footer {
  width: 100%;
  font-size: 16px;
  display: flex;
}

.photo-details-similar_photos_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exit_icon {
  width: 15px;
}

.exit_icon:hover {
  transform: rotate(-90deg);
  transition: transform .125s ease-in-out;
}